.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 15px 15px #222;
  font-size: 80px;
}

.header div {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}
.yellowText {
  color: goldenrod;
}

.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.infoContainer {
  color: #ffffff;
  margin-left: 40px;
}

.infoContainer .tittle {
  font-size: 60px;
  font-weight: bold;
}

.infoContainer .list {
  margin-top: 30px;
}

.infoContainer .list ul {
  padding-left: 20px;
}

.infoContainer .list ul li {
  margin-bottom: 20px;
  list-style: disc;

}

.grayText {
  color: gray;

}

.image {
  max-width: 75%;
  height: 50vh;
  border-radius: 20%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  
}

